body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

input {
    padding: 12.5px;
    font-size: large;
    border: 2px solid;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
    margin-bottom: 5px;
}

input:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

input:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

button {
    background-color: #fff;
    border: 2px solid;
    font-size: large;
    cursor: pointer;
    padding: 12.5px;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

button:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

ul {
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.deleteBtn {
    border: none;
    cursor: pointer;
    background-image: url(trash-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    height: 25px;
    width: 25px;
}
